<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../org/css/bootstrap-3.3.7.min.css">
</head>

<style></style>

<body ng-app="hd">

<div ng-controller="ctrl" >
    <!-- 只会触发控制器内的方法 -->
    <div ng-click="show()">单击事件</div>
    <div ng-dblclick="show()">双击事件</div>
    <div><input type="text" ng-change="show()" ng-model="title">change事件</div>
    <div><input type="text" ng-blur="show()" ng-model="title">blur事件</div>

</div>


<script src="../org/angular-1.6.6.min.js"></script>
<script>
    function show() {
        alert("haha");
    }

    var m = angular.module('hd',[]);
    m.controller('ctrl',['$scope',function ($scope) {
        $scope.show = function () {
            alert("hello");
        }
    }]);

</script>
</body>
</html>