<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../org/css/bootstrap-3.3.7.min.css">
</head>

<style></style>

<body ng-app="hd">

<div ng-controller="ctrl" >
    <label><input type="checkbox" ng-model="status"> 接收协议</label>
    <button ng-init="copyright=false" ng-click="copyright=!copyright;">查看协议</button>
    <br/>
    <textarea ng-if="copyright">协议内容:啦啦啦</textarea>
    <br/>
    
    <button ng-disabled="!status">登录</button>
</div>


<script src="../org/angular-1.6.6.min.js"></script>
<script>
    var m = angular.module('hd',[]);
    m.controller('ctrl',['$scope',function ($scope) {

    }]);

</script>
</body>
</html>