<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../org/angular-1.6.6.min.js"></script>
    <link rel="stylesheet" href="../org/css/bootstrap-3.3.7.min.css">
</head>
<body ng-app="hd">

<div ng-controller="ctrl">
    商品: <input type="text" ng-model="goods.title"> <br/>
    价格: <input type="text" ng-model="goods.price" readonly="readonly"> <br/>
    数量: <input type="text" ng-model="goods.num"> <br/>

    <!-- ng-value可以使用表达式 -->

    总价: <input type="text" ng-value="goods.num * goods.price" readonly="readonly"> <br/>


</div>

<script>
    var m = angular.module('hd',[]);
    m.controller('ctrl',['$scope',function ($scope) {
        $scope.goods = {
            title:'后盾网视频',
            price:88,
            num:2
        };
    }]);

</script>
</body>
</html>